body {
  background: #cc00ff;
  background: rgba(255, 200, 100);

  color: #0af;

}

body > header > h3 {
  background: #fff;
  color:#0f0;
}

h3{
  color: #000
}

body h3{
  color:#f00
}

@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');


body{
  font-family: 'Bitter', cursive;
  font-weight: 300!important;
  margin:0px;
  text-shadow: 2px 5px 5px #000;
}
body h1{
  font-weight: 300;
  margin: 20px 30px;
}

#main-header {
  border: 1px solid #000;

  border-width: 2px;
  border-color: #000;
}

#top-stories{
  width: 1000px;
  margin:auto;
}

article {
  max-width:33%;
  display: inline-block;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 6)
}
article img{
  width: 100%;
  height: 100px;
}

.article-image{
  height: 200px;
  width: 100%;
  background-size: cover !important;
  background-position: center;
}

a{
  text-decoration: none;
}

p{
  letter-spacing: 2px;
  text-align: center;
}

a:hover{
  font-size: 32px;
}
.more-link{
  font-style: italic;
}

.my-input{
  display:block;
  width: 90%;
  margin: 10px;
  padding: 10px 20px;
}

.my-input:focus{
  background: #2f115a;
  color: #aad321;

}

article:active{
  opacity: .4;
}


.my-text{
  height: 600px:auto;
  max-height: 200px;
  overflow: scroll;
  overflow-x: hidden;
  border: 2px solid #000;
}
